<div style="width: 90%;margin: auto;">
    <div class="card">
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faList" [size]="'3x'" style="color: #636363;"></fa-icon>
                <h1 class="mx-5 " style="color: #636363;">Agregar Producto</h1>
                <div style="position: absolute;right:0;" class="mx-3">
                    <fa-icon [icon]="faTimes" class="btn btn-danger" [size]="'lg'" data-toggle="tooltip"
                        data-placement="bottom" title="Regresar a modelos" (click)="visualizarModeloProductos()">
                    </fa-icon>
                </div>
            </div>
        </div>

        <div class="card-body ">
            <form [formGroup]="modelProductForm" (ngSubmit)="onSubmit()">
                <!--
            <table style="width: 90%">
                <tr>
                    <td style="width: 30%; text-align: center">
                        <label for="producto">Categoría</label>
                    <input [ngModel]="categoria" type="text " style="text-align: center" class="form-control " id="categoria" readonly placeholder="Categoría" formControlName="categoria">
                    </td>
                    <td style="width: 5%"></td>
                    <td style="width: 30%; text-align: center">
                        <label for="producto">Línea</label>
                    <input [ngModel]="linea" type="text " style="text-align: center" class="form-control " id="linea" readonly placeholder="Línea" formControlName="linea">
                    </td>
                    <td style="width: 5%"></td>
                    <td style="width: 30%; text-align: center">
                        <label for="producto">Modelo</label>
                    <input [ngModel]="modelo" type="text " style="text-align: center" class="form-control " id="modelo" readonly placeholder="Modelo" formControlName="modelo">
                    </td>
                    <td style="width: 5%"></td>
                </tr>
            </table>
            <br>
            -->
                <div class="form-group">
                    <label for="grupo">Categoria</label>
                    <select class="form-control" (change)="changeGroup1($event)" formControlName="categoria">
                        <option [value]="0" selected>Seleccione una categoría</option>
                        <option *ngFor="let categoria of lstCategorias" [value]="categoria.categoria">
                            {{categoria.categoria}}
                        </option>
                    </select>
                    <small *ngIf="selectCategoria">
                        <small *ngIf="selectCategoria" style="color: red; ">
                            Debe seleccionar una categoría.
                        </small>
                    </small>
                </div>

                <div class="form-group">
                    <label for="grupo">Líneas</label>
                    <select class="form-control" (change)="changeGroup2($event)" formControlName="linea">
                        <option [value]=" 0 " selected>Seleccione una línea</option>
                        <option *ngFor="let linea of lstLineas" [value]="linea.linea">
                            {{linea.linea}}
                        </option>
                    </select>
                    <small *ngIf="selectLinea">
                        <small *ngIf="selectLinea" style="color: red; ">
                            Debe seleccionar una línea.
                        </small>
                    </small>
                </div>

                <div class="form-group">
                    <label for="grupo">Modelos</label>
                    <select class="form-control" (change)="changeGroup3($event)" formControlName="modelo">
                        <option [value]=" 0 " selected>Seleccione un modelo</option>
                        <option *ngFor="let modelo of lstModelos" [value]="modelo.modelo">
                            {{modelo.modelo}}
                        </option>
                    </select>
                    <small *ngIf="selectModelo">
                        <small *ngIf="selectModelo" style="color: red; ">
                            Debe seleccionar un modelo.
                        </small>
                    </small>
                </div>
                <div class="form-group">
                    <label for="modeloproducto_id">Modelo Producto:</label>
                    <ng-autocomplete [data]="lstModeloProductos" (selected)='selectEventModel($event)'
                        [searchKeyword]="keywordModelProduct" placeholder="Seleccione el Modelo Producto"
                        [itemTemplate]="itemTemplateModel" [notFoundTemplate]="notFoundTemplateModel"
                        class="form-control" style="width: 100%;padding: 0%;"
                        (inputChanged)='onChangeSearchModel($event)' (inputCleared)="onInputClearedModel()">
                    </ng-autocomplete>
                    <ng-template #itemTemplateModel let-item>
                        <a [innerHTML]="item.modelo_producto"></a>
                    </ng-template>
                    <ng-template #notFoundTemplateModel let-notFound>
                        <p>No se encontro datos</p>
                    </ng-template>
                    <small *ngIf="selectModeloProducto">
                        <small *ngIf="selectModeloProducto " style="color: red; ">
                            Debe seleccionar un Modelo.
                        </small>
                    </small>
                </div>

                <div class="form-group ">
                    <label for="producto" style="margin: 0;">Nombre del Producto</label>
                    <input [(ngModel)]="selectedModeloProducto" type="text " class="form-control " id="producto"
                        placeholder="Ingrese la descripción del Producto." formControlName="producto">
                    <small
                        *ngIf="modelProductForm.controls['producto'].invalid && (modelProductForm.controls['producto'].dirty || modelProductForm.controls['producto'].touched)">
                        <small *ngIf="modelProductForm.controls['producto'].errors?.['required']" style="color: red;">
                            Debe ingresar la descripción del Producto
                        </small>
                    </small>
                </div>
                <div class="form-group ">
                    <label for="producto" style="margin: 0;">Etiquetas</label>
                    <input type="text " class="form-control " id="etiquetas"
                        placeholder="Ingrese las etiquetas del Producto." formControlName="etiquetas">
                    <small
                        *ngIf="modelProductForm.controls['etiquetas'].invalid && (modelProductForm.controls['etiquetas'].dirty || modelProductForm.controls['etiquetas'].touched)">
                        <small *ngIf="modelProductForm.controls['etiquetas'].errors?.['required']" style="color: red;">
                            Debe ingresar la descripción del Producto
                        </small>
                    </small>
                </div>
                <div class="form-group ">
                    <label for="tamanio" style="margin: 0;">Talla</label>
                    <input type="text " class="form-control " id="tamanio" placeholder="Ingrese la talla del Producto."
                        formControlName="tamanio">
                    <small
                        *ngIf="modelProductForm.controls['tamanio'].invalid && (modelProductForm.controls['tamanio'].dirty || modelProductForm.controls['tamanio'].touched)">
                        <small *ngIf="modelProductForm.controls['tamanio'].errors?.['required']" style="color: red;">
                            Debe ingresar la descripción del Producto
                        </small>
                    </small>
                </div>
                <div class="form-group">
                    <label for="codigoSAP">Código SAP</label>
                    <input type="text" class="form-control" id="codigoSAP" placeholder="Ingrese el código SAP"
                        formControlName="codigoSAP">
                </div>
                <button type="submit" class="btn btn-primary">
                    <fa-icon [icon]="faSave" [size]="'sm'"></fa-icon>
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>