<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faShoppingCart" [size]="'3x'" style="color: #636363;"></fa-icon>
                <h1 class="mx-5 " style="color: #636363;">Modificar Color</h1>
                <div style="position: absolute;right:0;" class="mx-3">
                    <fa-icon [icon]="faTimes" class="btn btn-danger" [size]="'lg'" data-toggle="tooltip" data-placement="bottom" title="Regresar a colores" (click)="visualizarColores()"></fa-icon>
                </div>
            </div>
        </div>
        <div class="card-body ">
            <form [formGroup]="colorForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" class="form-control" id="color" placeholder="Ingrese el nombre del color" formControlName="color">
                    <small *ngIf="colorForm.controls['color'].invalid && (colorForm.controls['color'].dirty || colorForm.controls['color'].touched)">
                        <small  *ngIf="colorForm.controls['color'].errors" style="color: red;">
                            Debe ingresar el nombre del color
                        </small >
                    </small >
                </div>
                <div class="form-group">
                    <label for="codigoSAP">Código SAP</label>
                    <input type="text" class="form-control" id="codigoSAP" placeholder="Ingrese el código SAP" formControlName="codigoSAP">
                    <small *ngIf="colorForm.controls['codigoSAP'].invalid && (colorForm.controls['codigoSAP'].dirty || colorForm.controls['codigoSAP'].touched)">
                        <small  *ngIf="colorForm.controls['codigoSAP'].errors" style="color: red;">
                            Debe ingresar el código.
                        </small >
                    </small >
                </div>
                <div class="form-group">
                    <label for="etiquetas">Etiquetas</label>
                    <input type="text" class="form-control" id="etiquetas" placeholder="Ingrese las etiquetas" formControlName="etiquetas">
                    <small *ngIf="colorForm.controls['etiquetas'].invalid && (colorForm.controls['etiquetas'].dirty || colorForm.controls['etiquetas'].touched)">
                        <small  *ngIf="colorForm.controls['etiquetas'].errors" style="color: red;">
                            Debe ingresar etiquetas.
                        </small >
                    </small >
                </div>
                <button type="submit" class="btn btn-primary"><!--[disabled]="!this.groupForm.valid"-->
                    <fa-icon [icon]="faSave" [size]="'sm'"></fa-icon>
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>