<div class="card" style="max-width: 98%;margin: auto;">
    <div class="card-header">
        <div class="row mx-3">
            <fa-icon [icon]="faList" [size]="'3x'" style="color: #636363;"></fa-icon>
            <h1 class="mx-5 " style="color: #636363;">MOVER INVENTARIO</h1>
        </div>
    </div>
    <br>
    <div class="row mx-3">
        <a class="btn button" href="./navegation-cl/(contentClient:inventarios-pedido)" style="text-align:center;
                    font-size: 15px; width:140px; 
                       height:35px;
                       text-align:center; 
                       margin-top: 10px;
                       background: rgb(54,169,225,0.8);"><span style="color: white;">
                Volver
            </span>
        </a>
    </div>
    <div class="d-flex">
        <form [formGroup]="filtroForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fechaDesde">Almacén:</label>
                        <select class="form-control" style="width: 210px;" (change)="changeGroup($event)"
                            formControlName="almacen">
                            <option [value]=" 0 " selected>Seleccione un almacen</option>
                            <option *ngFor="let almacen of lstAlmacenes" [value]="almacen.nombre_almacen">
                                {{almacen.nombre_almacen}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="button-container">
                        <button class="btn btn-primary" (click)="moverInventario()">
                            <span style="color: white"> Mover inventario</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br/><br/>
    <div class="table-container">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead style="color: #636363;">
                <tr>
                <tr>
                    <th style="width: 15%; ">IMAGEN</th>
                    <th style="width: 15%; ">PRODUCTO</th>
                    <th style="width: 8%; ">CATEGORIA</th>
                    <th style="width: 8%; ">TIPO</th>
                    <th style="width: 8%; ">MARCA</th>
                    <th style="width: 8%; ">MODELO</th>
                    <th style="width: 10%; ">COLOR</th>
                    <th style="width: 8%; ">TAMAÑO</th>
                    <th style="width: 15%; ">CARACTERISTICA</th>
                    <th style="width: 8%; ">GENERO</th>
                    <th style="width: 15%; ">CANTIDAD</th>
                    <th style="width: 8%; ">STOCK</th>
                </tr>
            </thead>
            <tbody style="color: #767695;">
                <tr *ngFor="let inventario of lstInventarios" class="table-row">
                    <td style="text-align: center;">
                        <img src={{inventario.url_image}} alt={{inventario.marca}} class="img-thumbnail" height="100px"
                            width="100px" data-toggle="modal" data-target="#exampleModal">
                    </td>
                    <td>{{inventario.Producto}}</td>
                    <td>{{inventario.categoria}}</td>
                    <td>{{inventario.linea}}</td>
                    <td>{{inventario.marca}}</td>
                    <td>{{inventario.modelo}}</td>
                    <td>{{inventario.color}}</td>
                    <td>{{inventario.talla}}</td>
                    <td>{{inventario.atributo}}</td>
                    <td>{{inventario.genero}}</td>
                    <td>
                        <input class="cool-input" (input)="onInput($event)" *ngIf="true" type="text"
                            [(ngModel)]="inventario.cantidad" />
                    </td>
                    <td>{{ parseInt(inventario.stock! ) | number: '.0-0' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>