<br>
<div style="max-width: 95%;margin: auto;">
    <div class="card">
        <br>
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faUserFriends" [size]="'3x'" style="color: #636363;"></fa-icon>
                <h1 class="mx-5 " style="color: #636363;">Facturas</h1>
            </div>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="dtdt">
            <thead style="color: #636363;">
                <tr>
                    <th style="width: 10%; ">ID Producto</th>
                    <th style="width: 10%; ">Producto</th>
                    <th style="width: 10%; ">Cantidad</th>
                  
                </tr>
            </thead>
            <tbody style="color: #767695;">
                <tr *ngFor="let detalleMovimientos of lstMovimientos; let i = index">
                    <td>{{detalleMovimientos.id}}</td>
                    <td>{{detalleMovimientos.nroFactura}}</td>
                    <td>{{detalleMovimientos.clave_acceso}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>