<div style="max-width: 95%; margin: auto">
  <div class="card">
    <br />
    <div class="card-header d-flex justify-content-between">
      <div class="row mx-3">
        
        <h1 class="mx-5" style="color: #636363">FACTURA</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="invoice-header">
        <h1>Factura Electrónica</h1>
        <div class="company-info">
          <img src="logo.png" alt="Logo de la empresa" />
          <div class="company-details">
            <h3>Nombre de la empresa</h3>
            <p>RUC: 1234567890001</p>
            <p>Dirección: Dirección de la empresa</p>
            <p>Teléfono: +1234567890</p>
          </div>
        </div>
        <div class="invoice-info">
          <div class="info-item">
            <h4>Número de factura:</h4>
          </div>
          <div class="info-item">
            <h4>Fecha de emisión:</h4>
          </div>
          <div class="info-item">
            <h4>Cliente:</h4>
          </div>
        </div>
      </div>
      <div class="invoice-details">
        <table>
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="invoice-total">
          <h4>Total:</h4>
        </div>
      </div>
    </div>
  </div>
</div>

