<div class="card" style="max-width: 95%;margin: auto;">
    <div class="card-header">
        <div class="row mx-3">
            <fa-icon [icon]="faList" [size]="'3x'" style="color: #636363;"></fa-icon>
            <h1 class="mx-5 " style="color: #636363;">MOVIMIENTOS</h1>
        </div>
    </div>
    <div class="d-flex">
        <form [formGroup]="filtroForm">
            <div class="row">
                <div class="col-md-3" *ngIf="esFacturador">
                    <label for="fechaDesde">Almacén:</label>

                    <h2 style="color: #636363;">{{nombreAlmacenFacturador}}</h2>
                </div>
                <div class="col-md-3"  *ngIf="!esFacturador">
                    <div class="form-group">
                        <label for="fechaDesde">Almacén:</label>
                        <select class="form-control" style="width: 210px;" (change)="changeGroup($event)" formControlName="almacen">
                            <option [value]=" 0 " selected>Seleccione un almacen</option>
                            <option *ngFor="let almacen of lstAlmacenes" [value]="almacen.nombre_almacen">
                                {{almacen.nombre_almacen}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fechaDesde">Fecha Desde:</label>
                        <input type="date" id="fechaDesde" style="width: 210px;" class="form-control" formControlName="fechaDesde"
                            (change)="filterByDate()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fechaHasta">Fecha Hasta:</label>
                        <input type="date" id="fechaHasta" [value]="fechaActual" [ngModel]="fechaActual" style="width: 210px;" class="form-control" formControlName="fechaHasta"
                            (change)="filterByDate()">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tipo">Tipo:</label>
                        <select class="form-control" style="width: 210px;" (change)="changeGroup2()" formControlName="tipo">
                            <option [value]=" 0 " selected>Seleccione un tipo</option>
                            <option>
                                Ingreso
                            </option>
                            <option>
                                Egreso
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-primary" (click)="reiniciarFiltros()">
                    <span style="color: white"> Reiniciar Filtros</span>
                </button>
            </div>
        </form>
    </div>
    <div class="card-body ">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead style="color: #636363;">
                <tr>
                    <th style="width: 10%; ">PROUCTO</th>
                    <th style="width: 10%; ">PUNTO DE EMISIÓN</th>
                    <th style="width: 10%; ">FECHA</th>
                    <th style="width: 10%; ">TIPO</th>
                    <th style="width: 10%; ">CANTIDAD</th>
                    <th style="width: 10%; ">VALOR TOTAL</th>
                </tr>
            </thead>
            <tbody style="color: #767695;">
                <tr *ngFor="let detalle of lstDetalleMovimientos">
                    <td>{{detalle.producto_nombre}}</td>
                    <td>{{detalle.pto_emision}}</td>
                    <td>{{detalle.created_at}}</td>
                    <td
                        [ngClass]="{'text-success': detalle.tipo_movimiento === 'Ingreso', 'text-danger': detalle.tipo_movimiento === 'Egreso'}">
                        {{detalle.tipo_movimiento}}</td>
                    <td
                        [ngClass]="{'text-success': detalle.tipo_movimiento === 'Ingreso', 'text-danger': detalle.tipo_movimiento === 'Egreso'}">
                        {{detalle.cantidad}}</td>
                    <td
                        [ngClass]="{'text-success': detalle.tipo_movimiento === 'Ingreso', 'text-danger': detalle.tipo_movimiento === 'Egreso'}">
                        {{detalle.precio}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>