<div style="max-width: 100%; margin: auto; overflow: hidden;">
    <div class="dialog-content">
        <div class="btn-cerrar">
            <fa-icon [icon]="faTimes" class="btn btn-danger" [size]="'lg'" data-toggle="tooltip" data-placement="bottom"
                title="Regresar a pedidos" (click)="cerrarDialog()">
            </fa-icon>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-end">
        <button class="btn button boton-adicional" (click)="nuevoProducto()"
            style="margin-right: 10px; height: 40px;"
        >
            <fa-icon [icon]="faFolderPlus" [size]="'lg'" style="color: #ffffff; margin-right: 10px;"></fa-icon>
            NUEVO PRODUCTO
        </button>
        <button class="btn btn-success" (click)="anadirTodosProductos()"
        style="height: 40px;">
            <fa-icon [icon]="faShoppingCart" [size]="'lg'" style="color: #ffffff; margin-right: 10px;"></fa-icon>
            TERMINAR COMPRA
        </button>
    </div>

    <br /><br />
    <div class="table-container">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="dataTable">
            <thead style="color: #636363;" class="fixed-header">
                <tr>
                    <th style="width: 10%;">CÓDIGO</th>
                    <th style="width: 10%;" *ngIf="esPlasticaucho">COD PROVEEDOR</th>
                    <th style="width: 10%;">PRODUCTO</th>
                    <th style="width: 10%;">TAMAÑO</th>
                    <th style="width: 10%;">U. MEDIDA</th>
                    <th style="width: 10%;">TARIFA</th>
                    <th style="width: 10%;">COSTO</th>
                    <th style="width: 10%;">CANTIDAD</th>
                    <th style="width: 10%;">COSTO CALCULADO</th>
                </tr>
            </thead>
            <tbody style="color: #767695;">
                <tr *ngFor="let proveedorProducto of lstProveedoresProductos" class="table-row">
                    <td>{{proveedorProducto.producto_id}}</td>
                    <td *ngIf="esPlasticaucho">{{proveedorProducto.cod_sap}}</td>
                    <td>{{proveedorProducto.nombre_producto}} {{proveedorProducto.tamanio}}</td>
                    <td>{{proveedorProducto.tamanio}}</td>
                    <td>{{proveedorProducto.unidad_medida}}</td>
                    <td>{{proveedorProducto.descripcion_uni}}</td>
                    <!-- <td>{{proveedorProducto.costo}}</td> -->
                    <td
                    *ngIf="proveedorProducto.tieneCostoCalculado"

                    >
                        <input class="cool-input" (input)="onInputComa($event)" 
                    
                        type="text" [(ngModel)]="proveedorProducto.costoCalculado" value="proveedorProducto.costoCalculado"/>
                    </td>
                    <td
                    *ngIf="!proveedorProducto.tieneCostoCalculado"

                    >
                        <input class="cool-input" (input)="onInputComa($event)" 
                    
                        type="text" [(ngModel)]="proveedorProducto.costo" value="proveedorProducto.costo"/>
                    </td>



                    <td>
                        <input class="cool-input" (input)="onInput($event)" (keyup.enter)="anadirTodosProductos()" 
                            type="text" [(ngModel)]="proveedorProducto.cantidad" />
                    </td>
                    <td
                    *ngIf="proveedorProducto.tieneCostoCalculado"
              
                    >
                    <span
                    [ngClass]="{
                        'cool-input': !proveedorProducto.tieneCostoCalculado,
                        'cool-input-readonly': proveedorProducto.tieneCostoCalculado
                      }"
                    >
                        {{proveedorProducto.costoCalculado}}
                    </span>
                </td>

                    <td
                    *ngIf="!proveedorProducto.tieneCostoCalculado"

                    >{{proveedorProducto.costo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
