<div style="max-width: 100%; margin: auto;">
    <div class="dialog-content">
        <div class="btn-cerrar">
            <fa-icon [icon]="faTimes" class="btn btn-danger" [size]="'lg'" data-toggle="tooltip"
                data-placement="bottom" title="Regresar a pedidos" (click)="cerrarDialog()">
            </fa-icon>
        </div>
    </div>
    <br>
            <br/><br/>
            <div class="table-container">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead style="color: #636363;">
                    <tr>
                        <th style="width: 10%; ">CÓDIGO</th>
                        <th style="width: 10%; ">PRODUCTO</th>
                        <th style="width: 10%; ">ETIQUETAS</th>
                        <th style="width: 10%; ">TAMAÑO</th>
                        <th style="width: 10%; ">U. MEDIDA</th>
                        <th style="width: 10%; ">TARIFA</th>
                        <th style="width: 10%; ">COSTO</th>
                        <th style="width: 10%; ">CANTIDAD</th>
                        <th style="width: 10%; ">PRECIO</th>
                        <th style="width: 10%; "></th>
                    </tr>
                </thead>
                <tbody style="color: #767695;">
                    <tr *ngFor="let proveedorProducto of lstProveedoresProductos" class="table-row">
                        <td>{{proveedorProducto.producto_id}}</td>
                        <td>{{proveedorProducto.nombre_producto}}</td>
                        <td>{{proveedorProducto.etiquetas}}</td>
                        <td>{{proveedorProducto.tamanio}}</td>
                        <td>{{proveedorProducto.unidad_medida}}</td>
                        <td>{{proveedorProducto.descripcion_uni}}</td>
                        <td>{{proveedorProducto.costo}}</td>
                        <td>
                            <input class="cool-input" (input)="onInput($event)" *ngIf="true" type="text" [(ngModel)]="proveedorProducto.cantidad" />
                        </td>
                        <td>{{proveedorProducto.precio}}</td>
                        <td style="text-align: center;">
                            <a class="btn button" (click)=" crearDetalle(proveedorProducto)"
                                style="border-radius: 5px; 
                                       background: rgb(49,99,173,0.8); 
                                       font-size: 14px; width:70px; 
                                       height:35px;
                                       text-align:left; 
                                       margin-top: 10px;
                                       ">
                                <span style="color:white;">
                                        AÑADIR
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
