<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <div align="center">
            <br>
            <a routerLink="/navegation-cl" rel="noopener noreferrer">
                <img src="https://atiendo.ec/black/img/logo.png">
            </a>
        </div>
        <p align="center" style="color:aliceblue">_________________________________</p>
        <mat-nav-list>
            <a mat-list-item routerLink="/navegation-cl" style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">pie_chart</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</font>
            </a>
            <a mat-list-item href="#" style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">remove_done</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transacciones</font>
            </a>
            <a mat-list-item [routerLink]="[{ outlets: { contentClient: ['inventarios-productos'] } }]" style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">apps</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Productos</font>
            </a>
            <a mat-list-item [routerLink]="[{ outlets: { contentClient: ['inventarios-almacen'] } }]" style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">apps</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inventarios</font>
            </a>
            <a mat-list-item [routerLink]="[{ outlets: { contentClient: ['pedido-sugeridos'] } }]" style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">widgets</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pedido Sugerido</font>
            </a>
            <a mat-list-item href="#" style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">monitor</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Movimientos</font>
            </a>
            <a mat-list-item [routerLink]="[{ outlets: { contentClient: ['almacenes'] } }]"style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">location_city</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Almacenes</font>
            </a>
            <a mat-list-item [routerLink]="[{ outlets: { contentClient: ['tercerosalmacen'] } }]"style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">person</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usuarios</font>
            </a>
            <a mat-list-item (click)="logout()" style="color: white">
                <span class="material-icons-outlined" style="font-size: 24px">logout</span>
                <font style="font-size: 13px; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Salir</font>
            </a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet name="contentClient"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>