<!DOCTYPE html>
<html lang="pt-br">

<head>
  <style>
      body {
          background-color: #5061c267; /* Cambia #f0f0f0 al color de fondo que desees */
      }

      .error-message {
          font-size: 10px; /* Tamaño de la fuente reducido */
          margin-top: 2px; /* Margen superior reducido */
          margin-bottom: 2px; /* Margen inferior aumentado */
          letter-spacing: 0.5px; /* Espaciado entre letras ajustado */
      }

      .input-div {
          margin-bottom: 8px; /* Margen inferior de los campos de entrada */
      }
  </style>
</head>
<body>
    <img class="wave" src="../../../assets/img/wave.svg">
    <div class="container">
        <div class="img">
            <img src="https://atiendo.ec/black/img/logo.png">
        </div>
        
        <div class="login-container">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" *ngIf="mostrarIni">
                <h2>Iniciar Sesión</h2>
                <p>Accede a todos nuestros beneficios.</p>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <input class="input" type="text" placeholder="Correo Electronico" id="email" formControlName="categoria">
                    </div>
                </div>
                <small *ngIf="categoryForm.controls['categoria'].invalid && (categoryForm.controls['categoria'].dirty || categoryForm.controls['categoria'].touched)" class="error-message" style="color: red;">
                    Debe ingresar el correo electronico
                </small>
                <div class="input-div two">
                    <div class="i">
                        <i class="fas fa-key"></i>
                    </div>
                    <div>
                        <input class="input" type="password" placeholder="Contraseña" id="passw" formControlName="codigoSAP">
                    </div>
                </div>
                <small *ngIf="categoryForm.controls['codigoSAP'].invalid && (categoryForm.controls['codigoSAP'].dirty || categoryForm.controls['codigoSAP'].touched)" class="error-message" style="color: red;">
                    Debe ingresar la contraseña.
                </small>
                <button class="btn"> Entrar </button>
                <a class="forgot"
                (click)="olvidoContrasena()"
                style="cursor: pointer; color: #000; text-decoration: none;"
                >Olvido su contraseña ?</a>
                <!-- <div class="others">
                    <hr>
                    <p>O</p>
                    <hr>
                </div>

                <div class="account">
                    <p>No tienes una cuenta?</p>
                    <a href="register.html">¡Registrate Ahora!</a>
                </div> -->
            </form>


            <form [formGroup]="recoverForm" (ngSubmit)="onRecoverSubmit()" *ngIf="mostrarRecuperar">
                <h2>Recuperar Contraseña</h2>
                <p>Ingresa tu correo electrónico para recuperar tu contraseña.</p>
                <div class="input-divretrive one">
                    <div>
                        <input class="input" type="text" placeholder="Correo Electrónico" formControlName="email">
                    </div>
                </div>
                <small *ngIf="recoverForm.controls['email'].invalid && (recoverForm.controls['email'].dirty || recoverForm.controls['email'].touched)" class="error-message" style="color: red;">
                    Debe ingresar un correo electrónico válido.
                </small>
                <button type="submit" class="btn"> Recuperar Contraseña </button>
                <a (click)="cancelarRecuperacion()"
                    style="cursor: pointer; color: #000; text-decoration: none;">Cancelar</a>
            
            </form>


            <!-- Formulario para ingresar el código de verificación -->
<form [formGroup]="codeForm" (ngSubmit)="onCodeSubmit()" *ngIf="mostrarCodigo">
    <h2>Ingresa el Código de Verificación</h2>
    <p>Te hemos enviado un código a tu correo.</p>
    <div class="input-divretrive one">
        <input class="input" type="text" placeholder="Código de Verificación" formControlName="codigo">
    </div>
    <small *ngIf="codeForm.controls['codigo'].invalid && (codeForm.controls['codigo'].dirty || codeForm.controls['codigo'].touched)" class="error-message" style="color: red;">
        Debe ingresar el código de verificación.
    </small>
    <button type="submit" class="btn"> Verificar Código </button>
    <a (click)="cancelarCodigo()" style="cursor: pointer; color: #000; text-decoration: none;">Cancelar</a>
</form>

    <!-- Formulario para ingresar la nueva contraseña -->

<form [formGroup]="newPasswordForm" (ngSubmit)="onChagePassSubmit()" *ngIf="mostrarNuevaContrasena">
    <h2>Ingresa tu Nueva Contraseña</h2>
    <p>Ingresa tu nueva contraseña.</p>
    <div class="input-divretrive one">
        <input class="input" type="password" placeholder="Nueva Contraseña" formControlName="newPassword">
    </div>
    <small *ngIf="newPasswordForm.controls['newPassword'].invalid && (newPasswordForm.controls['newPassword'].dirty || newPasswordForm.controls['newPassword'].touched)" class="error-message" style="color: red;">
        Debe ingresar la nueva contraseña.
    </small>

    <div class="input-divretrive one">
        <input class="input" type="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
        </div>
        <small *ngIf="newPasswordForm.controls['confirmPassword'].invalid && (newPasswordForm.controls['confirmPassword'].dirty || newPasswordForm.controls['confirmPassword'].touched)" class="error-message" style="color: red;">
            Debe confirmar la nueva contraseña.
        </small>

        <button type="submit" class="btn"> Cambiar Contraseña </button>

        <a (click)="cancelarNuevaContrasena()" style="cursor: pointer; color: #000; text-decoration: none;">Cancelar</a>
    </form>

    

    




        </div>
    </div>

</body>

</html>
