<div style="max-width: 95%;margin: auto;">
    <div class="card">
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faList" [size]="'3x'" style="color: #636363;"></fa-icon>
                <h1 class="mx-5 " style="color: #636363;">VENTAS</h1>
                <div style="position: absolute;right:0;" class="mx-3">
                    <a class="btn btn-success" (click)="crearCompra()" style=" border-radius: 5px; 
                            font-size: 12px; width:150px; 
                            height:35px;
                            margin-top: 25px;
                            text-align:center; 
                            ;">NUEVO
                    </a>
                </div>
            </div>
            <br>
        </div>
        <div class="card-body ">
            <div class="row mx-3">
                <a class="btn button" 
                    (click)="navegar()"
                style="text-align:center;
                            font-size: 15px; width:140px; 
                               height:35px;
                               text-align:center; 
                               margin-top: 10px;
                               background: rgb(54,169,225,0.8);"><span style="color: white;">
                        Volver
                    </span>
                </a>
            </div>
            <br><br>
            <form [formGroup]="filtroForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="fechaDesde">Fecha Desde:</label>
                            <input type="date" id="fechaDesde" style="width: 210px;" class="form-control" formControlName="fechaDesde"
                                (change)="filterByDate()">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="fechaHasta">Fecha Hasta:</label>
                            <input type="date" id="fechaHasta" [value]="fechaActual" [ngModel]="fechaActual" style="width: 210px;" class="form-control" formControlName="fechaHasta"
                                (change)="filterByDate()">
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="btn btn-primary" style="margin-top: 26px;" (click)="reiniciarFiltros()">
                            <span style="color: white"> Reiniciar Filtros</span>
                        </button>
                    </div>
                </div>
            </form><br>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead style="color: #636363;">
                    <tr>
                        <th style="width: 20%; ">CÓDIGO</th>
                        <th style="width: 20%; ">TERCERO</th>
                        <th style="width: 20%; ">FECHA</th>
                        <th style="width: 20%; ">TOTAL FACTURA</th>
                        <th style="width: 20%; "></th>
                    </tr>
                </thead>
                <tbody style="color: #767695;">
                    <tr *ngFor="let movimiento of lstMovimientos" class="table-row"
                        class="table-row">
                        <td (click)="openModalDetalle(movimiento)">{{movimiento.id}}</td>
                        <td (click)="openModalDetalle(movimiento)">{{movimiento.tercero}}</td>
                        <td (click)="openModalDetalle(movimiento)">{{movimiento.fecha_emision}}</td>
                        <td (click)="openModalDetalle(movimiento)">{{movimiento.importe_total}}</td>
                        <td>
                            <a class="btn btn-success" (click)="openModal()" 
                            >GENERAR
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>