<!-- Modal -->
<div class="modal-dialog custom-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><i class="fas fa-shop mr-2"></i> Aplicar Descuento</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group" style="display: flex; justify-content: space-between; align-items: center;">

        <label for="cliente" class="cool-label">Codigo de Descuento:</label>
        <input type="text" class="form-control cool-input" placeholder="Codigo de descuento" [(ngModel)]="documento"
          maxlength="30">

        <button class="btn btn-success ml-2" (click)="abonar()">APLICAR</button>

      </div>

      <table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" style="width: 50%; margin-left: 20px;">
        <thead>
          <tr>
            <th style="width: 10%; ">Tipo</th>
            <th style="width: 10%; ">Valor</th>
            <th style="width: 10%; "></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detallePago of lstDescuentos; let i = index">
            <td>
              <ng-container *ngIf="!editarDetalle || i !== detalleEditIndex">
                <!-- Si tipoDescuento es 1 entonces Porcentaje o 2 Monto -->
                {{detallePago.tipoDescuento == "1" ? 'Porcentaje' : 'Monto'}}
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="!editarDetalle || i !== detalleEditIndex">
                {{detallePago.valorDescuento}}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="descargarInventario()">Confirmar</button>
    </div>
  </div>
</div>