.d-flex {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.card-body {
    overflow-x: auto
}

.cool-input {
    border: 1px solid #35b0e9;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
  }

  .icon-container {
    top: 20px;
    position: relative;
  }
  
  .icono-input {
    position: absolute;
    top: 0;
    right: 400px;
  }

  .label-input {
    position: absolute;
    top: 10px;
    right: 170px;
    font-size: 20px;
  }
  
  .resultado-input {
    position: absolute;
    top: 0;
    right: 35px;
    width: 150px;
    height: 35px;
    text-align: center;
    /* Estilos adicionales para el input del resultado */
  }
  
  .cool-input {
    width: 100px; /* Ajusta el tamaño de los inputs según tus necesidades */
  }
  
  /* Clase para cambiar el cursor a un pointer */
.custom-table {
  cursor: pointer;
}

/* Clase para cambiar el color de fondo cuando el cursor pasa por encima */
.custom-table:hover {
  background-color: rgb(204, 238, 241);
}