<div class="card" style="max-width: 95%;margin: auto;">
    <div class="card-header">
        <div class="row mx-3">
            <fa-icon [icon]="faList" [size]="'3x'" style="color: #636363;"></fa-icon>
            <h1 class="mx-5 " style="color: #636363;">CUADRE DE CAJA</h1>
        </div>
    </div>
    <div class="d-flex">
        <form [formGroup]="filtroForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fechaDesde">Almacén:</label>
                        <select class="form-control" style="width: 210px;" (change)="changeGroup($event)" formControlName="almacen">
                            <option [value]=" 0 " selected>Seleccione un almacen</option>
                            <option *ngFor="let almacen of lstAlmacenes" [value]="almacen.nombre_almacen">
                                {{almacen.nombre_almacen}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fechaDesde">Fecha Desde:</label>
                        <input type="date" id="fechaDesde" style="width: 210px;" class="form-control" formControlName="fechaDesde"
                            (change)="filterByDate()">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fechaHasta">Fecha Hasta:</label>
                        <input type="date" id="fechaHasta" [value]="fechaActual" [ngModel]="fechaActual" style="width: 210px;" class="form-control" formControlName="fechaHasta"
                            (change)="filterByDate()">
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-primary" (click)="reiniciarFiltros()">
                    <span style="color: white"> Reiniciar Filtros</span>
                </button>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped vertical-table">
            <tbody style="color: #000000;">
                <tr class="custom-table" (click)="verDetalleMovimiento('1')">
                    <th style="width: 33%; background-color: rgb(205, 205, 223);">EFECTIVO</th>
                    <td>$ {{efectivo}}</td>
                </tr>
                <tr class="custom-table" (click)="verDetalleMovimiento('2')">
                    <th style="width: 33%; background-color: rgb(205, 205, 223);">TARJETA DE DÉBITO</th>
                    <td>$ {{tar_deb}}</td>
                </tr>
                <tr class="custom-table" (click)="verDetalleMovimiento('3')">
                    <th style="width: 34%; background-color: rgb(205, 205, 223);">TARJETA DE CRÉDITO</th>
                    <td>$ {{tar_cre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="icon-container">
        <fa-icon [icon]="faMoneyBillAlt" [size]="'3x'" class="icono-input custom-icon" (click)="verDetalleMovimiento('4')"></fa-icon>
        <label for="total" class="label-input">TOTAL VENTAS:</label>
        <input type="text" [(ngModel)]="sumaTotal" class="cool-input resultado-input" readonly>
    </div>
</div>