<div style="max-width: 95%; margin: auto">
    <div class="card">
        <br />
        <div class="card-header d-flex justify-content-between">
            <div class="row mx-3 align-items-center">
                <div class="col-auto">
                    <fa-icon [icon]="faShoppingBag" [size]="'3x'" style="color: #636363"></fa-icon>
                </div>
                <div class="col">
                    <h1 class="mb-0" style="color: #636363; font-size: 24px;">FACTURACIÓN</h1>
                </div>
            </div>
            <div class="ml-auto text-right pr-3" style="color: #888888; font-size: 14px;">
                <strong>Vendiendo en: </strong>{{nombreAlmacenUsuario}}
            </div>
        </div>
        
        <div class="card-body">

            <form [formGroup]="clienteForm">
                <div class="form-group">
                    <div class="d-flex">
                        <select class="form-control small-select" (change)="changeGroup($event)" formControlName="tipo">
                            <option value="0" selected>Seleccione un tipo de cliente</option>
                            <option>CONSUMIDOR FINAL</option>
                            <option>CLIENTE</option>
                        </select>
                        <button class="btn btn-primary ml-2" (click)="realizarAccion()">ELEGIR</button>
                    </div>
                    <small *ngIf="selectTipo" style="color: red;">Debe seleccionar una categoría.</small>
                </div>
            </form>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cedula">Cédula/RUC:</label>
                        <input type="text" [disabled]="true" [(ngModel)]="identificacion" class="form-control input-1" placeholder="Cédula/RUC">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" [disabled]="nombre == ''" [(ngModel)]="nombre" class="form-control input-1" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="text" [disabled]="correo == ''" [(ngModel)]="correo" class="form-control input-1" placeholder="Correo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ciudad">Ciudad:</label>
                        <select class="form-control" [(ngModel)]="ciudad" id="ciudad" (change)="onCityChange($event)">
                            <option *ngIf="ciudad == ''" value="0" selected>Ciudad</option>
                            <option *ngFor="let ciudad of lstCiudades" [value]="ciudad.ciudad">{{ciudad.ciudad}}</option>
                        </select>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input type="text" [disabled]="direccion == ''" [(ngModel)]="direccion" class="form-control input-1" placeholder="Dirección">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" [disabled]="telefono == ''" [(ngModel)]="telefono" class="form-control input-1" placeholder="Teléfono">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <br>
                        <button class="btn btn-primary"  [disabled]="identificacion == '' || nombre == '' || correo == '' || ciudad == '' || direccion == '' || telefono == ''" (click)="actualizar()">Actualizar los datos del cliente</button>
                    </div>
                </div>
           
            </div>

            <!-- Contenedor flex para agregar productos y productos agregados -->
            <div class="row d-flex flex-column flex-md-row">
                <!-- Agregar productos -->
                <div class="col-12 col-md-6"
                    style="border-right: 1px solid #e0e0e0; padding-right: 20px;">
                
                    <h2 style="color: #636363; text-align: center;">AGREGAR PRODUCTOS AL CARRITO</h2>
                    <app-ver-carrito (prAgregado)="agregarProducto($event)"  ></app-ver-carrito>
                </div>
                <!-- Productos agregados -->
                <div class="col-12 col-md-6">
                    <h2 style="color: #636363; text-align: center;">PRODUCTOS AGREGADOS</h2>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="dtdt" style="font-size: 12px;">
                        <thead style="color: #636363;">
                            <tr>
                                <th style="width: 10%;">PRODUCTO</th>
                                <th style="width: 5%;">CANTIDAD</th>
                                <th style="width: 40%;">UNITARIO</th>
                                <th style="width: 40%;">TOTAL</th>
                             
                                <th style="width: 20%;"></th>
                            </tr>
                        </thead>
                        <tbody style="color: #767695;">
                            <tr *ngFor="let detalleMovimientos of lstDetalleMovimientos; let i = index">
                                <td>{{detalleMovimientos.modelo_producto_nombre}} {{detalleMovimientos.tamanio}}</td>
                                <td>
                                    <ng-container *ngIf="!editarDetalle || i !== detalleEditIndex">
                                        {{detalleMovimientos.cantidad}}
                                    </ng-container>
                                    <input class="small-input" (input)="onInput2($event)" *ngIf="editarDetalle && i === detalleEditIndex" type="text" [(ngModel)]="detalleMovimientos.cantidad" (ngModelChange)="calcularPrecio(i)">
                                </td>
                                <td>
                                    <ng-container>
                                        {{detalleMovimientos.costo}}
                                    </ng-container>
                                </td>
                                <td>{{detalleMovimientos.precio}}</td>
                            
                   
                                <td style="text-align: center;">
                                    <ng-container *ngIf="!editarDetalle || i !== detalleEditIndex" class="editar-detalle">
                                        <span [attr.data-index]="i">
                                            <fa-icon [icon]="faEdit" class="btn btn-info editar-icon" [size]="'lg'" style="margin-right: 5px;" data-placement="bottom" (click)="editarDetalleMovimiento(i)" title="Editar Detalle"></fa-icon>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="editarDetalle && i === detalleEditIndex">
                                        <span [attr.data-index]="i">
                                            <fa-icon [icon]="faCheck" class="btn btn-success" [size]="'lg'" style="margin-right: 5px;" data-placement="bottom" (click)="aplicarCambiosDetalle(i)" title="Aplicar"></fa-icon>
                                        </span>
                                    </ng-container>
                                    <span [attr.data-index]="detalleMovimientos | json">
                                        <fa-icon [icon]="faTrashAlt" class="btn btn-danger delete-icon" [size]="'lg'" data-placement="bottom" (click)="eliminarDetalle(detalleMovimientos)" title="Eliminar Detalle"></fa-icon>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 16px;">SUBTOTALES:</label>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL :</label>
                <input type="text" [value]="calcularSubtotal() | number:'1.2-2'" class="cool-input resultado-input" readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL IVA {{iva}}% :</label>
                <input type="text" [value]="calcularTotalTarifa15P() | number:'1.2-2'" class="cool-input resultado-input" readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL IVA 0% :</label>
                <input type="text" [value]="calcularTotalTarifa0() | number:'1.2-2'" class="cool-input resultado-input" readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">DESCUENTO :</label>
                <input type="text" [value]="calcularDescuento() | number:'1.2-2'" class="cool-input resultado-input" readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">IVA {{iva}}% :</label>
                <input type="text" [value]="calcularIva15() | number:'1.2-2'" class="cool-input resultado-input" readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">ICE :</label>
                <input type="text" value="0" class="cool-input resultado-input" readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <fa-icon [icon]="faMoneyBillAlt" [size]="'3x'" style="color: #6aaf42" class="icono-input"></fa-icon>
                <label for="total" class="label-input">TOTAL:</label>
                <input type="text" [(ngModel)]="sumaTotal" class="cool-input resultado-input" readonly>
            </div>
            <br><br><br>
            <div class="button-container">
                <button class="btn btn-secondary"  [disabled]="identificacion == '' || nombre == '' || correo == '' || ciudad == '' || direccion == '' || telefono == ''" (click)="facturarFisica()">
                    <span style="color: white ; font-size: 20px;">Descargar Inventario</span>
                </button>
                <button class="btn btn-primary" style="margin-left: 50px" [disabled]="identificacion == '' || nombre == '' || correo == '' || ciudad == '' || direccion == '' || telefono == '' || lstDetalleMovimientos.length == 0" (click)="finalizarPedido()">
                    <span style="color: white ; font-size: 20px;">Continuar</span>
                </button>
            </div>

        </div>
    </div>
</div>
