  
  .carrito-button {
    background: rgb(54, 169, 225, 0.8);
    color: white;
    font-size: 15px;
    width: 120px;
    height: 35px;
    text-align: center;
  }
  
  .card-body {
    overflow-x: auto
}

.cool-input {
  border: 1px solid #35b0e9;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  /* Otros estilos personalizados */
}