<div style="max-width: 95%;margin: auto;">
    <div class="card">
        <br>
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faStore" [size]="'3x'" style="color: #636363;"></fa-icon>
                <h1 class="mx-5 " style="color: #636363;">Descuentos</h1>
                <div style="position: absolute;right:0;" class="mx-3">
                    <!-- Boton para ver el inventario de todos los almacenes -->
                    <a class="btn button
                        ver-icon" style="border-radius: 5px; 
                                       background: rgb(49,99,173,0.8); 
                                       font-size: 15px; width:120px; 
                                       height:35px;
                                       text-align:center; 
                                       margin-top: 10px;
                                       "
                                       (click)="vertodos()">
                                       
                        <span style="color:white;">
                            CREAR
                        </span>
                    </a>
                    

                </div>
            </div>
        </div>
        <div class="card-body ">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="dtdt">
                <thead style="color: #636363;">
                    <tr>
                        <th style="width: 20%; ">Codigo</th>
                        <th style="width: 20%; ">Tipo</th>
                        <th style="width: 20%; ">Valor</th>
                        <th style="width: 20%; ">Fecha Inicio</th>
                        <th style="width: 20%; ">Fecha Fin</th>
                        <th style="width: 20%; ">Max. Usos</th>
                        <th style="width: 20%; ">Estado</th>
                        <th style="width: 1%; ">Opciones</th>
                    </tr>
                </thead>
                <tbody style="color: #767695;">
                    <tr *ngFor="let almacen of lstDescuentos">
                        <td>{{almacen.codigoDescuento}}</td>
                        <td>
                            <span *ngIf="almacen.tipoDescuento.toString() == '1'">Porcentaje</span>
                            <span *ngIf="almacen.tipoDescuento.toString() == '2'">Monto</span>
                        </td>
                        <td>
                            <span *ngIf="almacen.tipoDescuento.toString() == '1'">{{almacen.valorDescuento}}%</span>
                            <span *ngIf="almacen.tipoDescuento.toString() == '2'">${{almacen.valorDescuento}}</span>
                        </td>
                        <td>{{ almacen.fecha_inicio }}</td>
        <td>{{ almacen.fecha_fin }}</td>
                        <td>{{almacen.usoMaximo}}</td>
                        <td>
                            <span *ngIf="almacen.estado!.toString() == '1'">Activo</span>
                            <span *ngIf="almacen.estado!.toString() == '0'">Inactivo</span>

                            <td style="display: flex; gap: 5px;">
                                <!-- Boton Eliminar -->
                                <span>
                                    <a class="btn button ver-icon" style="border-radius: 5px; 
                                           background: rgba(209, 53, 53, 0.8); 
                                           font-size: 15px; width:120px; 
                                           height:35px; text-align:center; 
                                           margin-top: 10px;"
                                       (click)="eliminarDescuento(almacen)">
                                        <fa-icon [icon]="faTrashAlt" style="color: white;"></fa-icon>
                                    </a>
                                </span>
                            
                                <!--  Si esta activo el almacen se puede desactivar caso contrario activar -->
                                <span *ngIf="almacen.estado!.toString() == '1'">
                                    <a class="btn button ver-icon" style="border-radius: 5px; 
                                           background: rgb(49,99,173,0.8); 
                                           font-size: 15px; width:120px; 
                                           height:35px; text-align:center; 
                                           margin-top: 10px;"
                                       (click)="desactivarDescuento(almacen)">
                                        <span style="color:white;
                                            font-size: 13px;
                                        ">
                                            DESACTIVAR
                                        </span> 
                                    </a>
                                </span>
                            
                                <span *ngIf="almacen.estado!.toString() == '0'">
                                    <a class="btn button ver-icon" style="border-radius: 5px; 
                                           background: rgb(49,99,173,0.8); 
                                           font-size: 15px; width:120px; 
                                           height:35px; text-align:center; 
                                           margin-top: 10px;"
                                       (click)="activarDescuento(almacen)">
                                        <span style="color:white;
                                            font-size: 13px;
                                        ">
                                            ACTIVAR
                                        </span>
                                    </a>
                                </span>
                            </td>
                            
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>