<div style="width: 90%; margin: auto">
    <div class="card">
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faList" [size]="'3x'" style="color: #636363"></fa-icon>
                <h1 class="mx-5" style="color: #636363">Editar Producto</h1>
                <div style="position: absolute; right: 0" class="mx-3">
                    <fa-icon [icon]="faTimes" class="btn btn-danger" [size]="'lg'" data-toggle="tooltip"
                        data-placement="bottom" title="Regresar a modelos" (click)="visualizarProductos()">
                    </fa-icon>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="inventarioForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="grupo">Categoria</label>
                    <input type="text" class="form-control" id="codigoSAP" placeholder="Ingrese la categoria"
                        formControlName="categoria" />

                </div>

                <div class="form-group">
                    <label for="grupo">Tipo</label>
                    <input type="text" class="form-control" id="codigoSAP" placeholder="Ingrese el tipo"
                        formControlName="linea" />

                </div>

                <!--
                <div class="form-group">
                    <label for="grupo">Marca</label>
                    <select class="form-control" (change)="changeGroup3($event)" formControlName="marca">
                        <option [value]=" 0 " selected>Seleccione una marca</option>
                        <option *ngFor="let marca of lstMarcas" [value]="marca.marca">
                            {{marca.marca}}
                        </option>
                    </select>
                    <small *ngIf="selectMarca">
                        <small *ngIf="selectMarca" style="color: red; ">
                            Debe seleccionar un modelo.
                        </small>
                    </small>
                </div>
                -->
                <div class="form-group">
                    <label for="grupo">Modelo</label>
                    <input type="text" class="form-control" id="codigoSAP" placeholder="Ingrese el modelo"
                        formControlName="modelo" />

                </div>

                    <div class="form-group">
                    <label for="grupo">Modelo Producto</label>
                    <input type="text" class="form-control" id="codigoSAP" placeholder="Ingrese el modelo producto"
                        formControlName="modelo_producto" />
                    </div>

                    <div class="form-group">
                        <label for="grupo">Producto</label>
                        <input type="text" class="form-control" id="codigoSAP" placeholder="Ingrese el producto"
                            formControlName="producto" />
                        </div>
                
                <div class="form-group">
                    <label for="etiquetas">Etiquetas</label>
                    <input type="text" class="form-control" id="codigoSAP" placeholder="Ingrese las etiquetas"
                        formControlName="etiquetas" />
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" (keypress)="keyPressNumbers($event)" class="form-control" id="codigoSAP" placeholder="Ingrese el stock"
                        formControlName="stock"
                    
                        />
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="text" (keypress)="keyPressNumbers($event)" class="form-control" id="codigoSAP" placeholder="Ingrese el precio"
                        formControlName="precio" />
                </div>
                <div class="form-group">
                    <label for="costo">Costo</label>
                    <input type="text" (keypress)="keyPressNumbers($event)" class="form-control" id="codigoSAP" placeholder="Ingrese el costo"
                        formControlName="costo" />
                </div>
                <button type="submit" class="btn btn-primary">
                    <fa-icon [icon]="faSave" [size]="'sm'"></fa-icon>
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>