<div style="max-width: 95%; margin: auto">
    <div class="card">
        <br />
        <div class="card-header d-flex justify-content-between">
            <div class="row mx-3">
                <fa-icon [icon]="faFileInvoice" [size]="'3x'" style="color: #636363"></fa-icon>
                <h1 class="mx-5" style="color: #636363">FACTURA</h1>
            </div>
            <div class="ml-auto text-right pr-3" style="color: #888888; font-size: 14px;">
                <strong>Comprando en: </strong>{{nombreAlmacenCompra}}
            </div>
        </div>
        <div class="card-body">
            <div class="invoice-header">
                <h1>Detalle de la Compra</h1>
                <div class="company-info">
                    <div class="company-details">
                        <h3>{{ nombreSoc }}</h3>
                        <h3>Proveedor: {{ nombreProv }}</h3>
                        <p>RUC: {{ idFiscalProv }}</p>
                        <p>Dirección: {{ direccionProv }}</p>
                        <p>Teléfono: {{ telefonoProv }}</p>
                    </div>
                </div>
                <div class="invoice-info">
                    <div class="info-item">
                        <h4>Comprobante de venta: {{ comprobanteFormato }}</h4>
                    </div>
                    <div class="info-item">
                        <h4>Fecha de emisión: {{ fechaEmision | slice:0:10 }}</h4>
                    </div>
                    <div class="info-item">
                        <h4>Autorización de venta: {{ autVenta }}</h4>
                    </div>
                </div>
            </div>
            <div class="invoice-details">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead style="color: #636363;">
                        <tr>
                            <th style="width: 10%; ">Producto</th>
                            <th style="width: 10%; ">Cantidad</th>
                            <th style="width: 10%; ">Costo Uni.</th>
                            <th style="width: 10%; ">Costo</th>
                            <th style="width: 10%; ">Tamaño</th>
                            <th style="width: 10%; ">Uni. Medida</th>
                            <th style="width: 10%; ">Color</th>
                        </tr>
                    </thead>
                    <tbody style="color: #767695;">
                        <tr *ngFor="let detalleMovimientos of lstDetalleMovimientos">
                            <td>{{detalleMovimientos.modelo_producto_nombre}} {{detalleMovimientos.tamanio}}</td>
                            <td>{{detalleMovimientos.cantidad}}</td>
                            <td>{{detalleMovimientos.costo}}</td>
                            <td>{{detalleMovimientos.precio}}</td>
                            <td>{{detalleMovimientos.tamanio}}</td>
                            <td>{{detalleMovimientos.unidad_medida}}</td>
                            <td>{{detalleMovimientos.color}}</td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <div class="icon-container">
                    <label for="total" class="label-input">SUBTOTALES:</label>
                </div>
                <br><br>
                <div class="icon-container">
                    <label for="total" class="label-input" style="font-size: 16px;">SUBTOTAL :</label>
                    <input type="text" [value]="calcularSubtotal() | number:'1.2-2'" class="cool-input resultado-input"
                        readonly>
                </div>
                <br><br>
                <div class="icon-container">
                    <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL IVA {{iva}}% :</label>
                    <input type="text" [value]="calcularTotalTarifa15P() | number:'1.2-2'"
                        class="cool-input resultado-input" readonly>
                </div>
                <br><br>
                <div class="icon-container">
                    <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL IVA 0% :</label>
                    <input type="text" [value]="calcularTotalTarifa0() | number:'1.2-2'"
                        class="cool-input resultado-input" readonly>
                </div>
                <br><br>
                <div class="icon-container">
                    <label for="total" class="label-input" style="font-size: 14px;">IVA {{iva}}% :</label>
                    <input type="text" [value]="calcularIva15() | number:'1.2-2'" class="cool-input resultado-input"
                        readonly>
                </div>
                <br><br>
                <div class="icon-container">
                    <label for="total" class="label-input">TOTAL:</label>
                    <input type="text" [(ngModel)]="sumaTotal" class="cool-input resultado-input" readonly>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="button-container">
            <button class="btn btn-primary" (click)="finalizarPedido()">
                <span style="color: white"> FINALIZAR PEDIDO </span>
            </button>
        </div>
    </div>
</div>