<br>
<div class="card" style="max-width: 95%;margin: auto;">
    <div class="card-header">
        <div class="row mx-3">
            <fa-icon [icon]="faList" [size]="'3x'" style="color: #636363;"></fa-icon>
            <h1 class="mx-5 " style="color: #636363;">Personal</h1>
            <div style="position: absolute;right:0;" class="mx-3">
                <fa-icon [icon]="faPlus" class="btn btn-success" [size]="'lg'" data-toggle="tooltip"
                    data-placement="bottom" title="Agregar una nuevo Proveedor"
                    (click)="agregarProveedor()"></fa-icon>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead style="color: #636363;">
                <tr>
                    <th style="width: 15%; ">Nombre</th>
                    <th style="width: 10%; ">Correo</th>
                    <th style="width: 15%; ">Telefono</th>
                    <th style="width: 15%; ">Almacen</th>

                    <th style="width: 14%; "></th>
                </tr>
            </thead>
            <tbody style="color: #767695;">
                <tr *ngFor="let proveedor of lstProveedores">
                    <td>{{proveedor.nombre_personal}}</td>
                    <td>{{proveedor.email}}</td>
                    <td>{{proveedor.telefono}}</td>
                    <td>{{proveedor.almacen_personal_id}}</td>
                    <td style="text-align: center;">
                        <td style="text-align: center;">
                            <fa-icon [icon]="faEdit" class="btn btn-info" [size]="'lg'" style="margin-right: 5px;"
                                data-placement="bottom" title="Editar Personañ"
                                (click)=" editarPersonal(proveedor) "></fa-icon>
                            <fa-icon [icon]="faTrashAlt " class="btn btn-danger " [size]=" 'lg' " data-placement="bottom "
                                title="Eliminar Personal" (click)="eliminarSociedades(proveedor)"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>