<div style="max-width: 95%; margin: auto">
    <div class="card">
        <br />
        <div class="card-header d-flex justify-content-between">
            <div class="row mx-3">
                <fa-icon [icon]="faShoppingBag" [size]="'3x'" style="color: #636363"></fa-icon>
                <h1 class="mx-5" style="color: #636363">COMPRAS</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="row mx-3">
                <a class="btn button" href="./navegation-cl/(contentClient:compraprov)" style="text-align:center;
                            font-size: 15px; width:140px; 
                               height:35px;
                               text-align:center; 
                               margin-top: 10px;
                               background: rgb(54,169,225,0.8);"><span style="color: white;">
                        Volver
                    </span>
                </a>
            </div>
            <br><br>
            <div class="form-group" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cedula">Proveedor:</label>
                            <select class="form-control small-select" (change)="changeGroup($event)"
                                [disabled]="disableProveedor">
                                <option value="0" selected>Seleccione un proveedor</option>
                                <option *ngFor="let proveedor of lstProveedores" [value]="proveedor.nombre">
                                    {{proveedor.nombre}}
                                </option>
                            </select>
                            <small *ngIf="selectTipo">
                                <small *ngIf="selectTipo" style="color: red; ">
                                    Debe seleccionar un proveedor.
                                </small>
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cedula">Sustento:</label>
                            <select class="form-control small-select" (change)="changeGroup2($event)"
                                [disabled]="disableProveedor">
                                <option value="0" selected>Seleccione un sustento</option>
                                <option *ngFor="let sustento of lstSustentos" [value]="sustento.sustento">
                                    {{sustento.sustento}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cedula">Comprobante de venta:</label>
                            <input type="text" [disabled]="disableProveedor" (keypress)="keyPressNumbers($event)"
                                [(ngModel)]="comprobante" class="form-control input-1"
                                placeholder="Comprobante de venta" (input)="onInputComprobante($event)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cedula">Autorización de venta:</label>
                            <input type="text" [disabled]="disableProveedor" (keypress)="keyPressNumbers($event)"
                                [(ngModel)]="autorizacion" class="form-control input-1"
                                placeholder="Autorización de venta" (input)="onInputAutorizacion($event)">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cedula">Fecha de Emisión:</label>
                            <mat-form-field appearance="fill" class="custom-datepicker">
                                <mat-label>FECHA DE EMISIÓN</mat-label>
                                <input id="fecha_nac" matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada"
                                    [disabled]="true" [value]="fechaSeleccionada">

                                <mat-datepicker-toggle matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker [disabled]="disableProveedor">
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn button carrito-button" (click)="verCarrito()" [disabled]="buttonsDisabled">
                        <fa-icon [icon]="faCartPlus" [size]="'lg'" style="color: #ffffff; margin-right: 5px;"></fa-icon>
                        AÑADIR
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="crearProveedor()">
                        <span style="color: white"> Crear proveedor </span>
                    </button>
                </div>
            </div>
            <br><br>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead style="color: #636363;">
                    <tr>
                        <th style="width: 10%; ">ID Producto</th>
                        <th style="width: 10%; ">Producto</th>
                        <th style="width: 10%; ">Cantidad</th>
                        <th style="width: 10%; ">Precio Uni.</th>
                        <th style="width: 10%; ">Precio</th>
                        <th style="width: 10%; ">Tamaño</th>
                        <th style="width: 10%; ">Unidad de Medida</th>
                        <th style="width: 10%; ">Color</th>
                        <th style="width: 20%; "></th>
                    </tr>
                </thead>
                <tbody style="color: #767695;">
                    <tr *ngFor="let detalleMovimientos of lstDetalleMovimientos; let i = index">
                        <td>{{detalleMovimientos.producto_id}}</td>
                        <td>{{detalleMovimientos.producto_nombre}}</td>
                        <td>
                            <ng-container *ngIf="!editarDetalle || i !== detalleEditIndex">
                                {{detalleMovimientos.cantidad}}
                            </ng-container>
                            <input class="small-input" (input)="onInput($event)"
                                *ngIf="editarDetalle && i === detalleEditIndex" type="text"
                                [(ngModel)]="detalleMovimientos.cantidad" (ngModelChange)="calcularPrecio(i)">
                        </td>
                        <td>
                            <ng-container *ngIf="!editarDetalle || i !== detalleEditIndex">
                                {{detalleMovimientos.costo}}
                            </ng-container>
                            <input class="small-input" (input)="onInput2($event)"
                                *ngIf="editarDetalle && i === detalleEditIndex" type="text"
                                [(ngModel)]="detalleMovimientos.costo" (ngModelChange)="calcularPrecio(i)">
                        </td>
                        <td>{{detalleMovimientos.precio}}</td>
                        <td>{{detalleMovimientos.tamanio}}</td>
                        <td>{{detalleMovimientos.unidad_medida}}</td>
                        <td>{{detalleMovimientos.color}}</td>
                        <td style="text-align: center;">
                            <ng-container *ngIf="!editarDetalle || i !== detalleEditIndex">
                                <fa-icon [icon]="faEdit" class="btn btn-info" [size]="'lg'" style="margin-right: 5px;"
                                    data-placement="bottom" (click)="editarDetalleMovimiento(i)"
                                    title="Editar Detalle"></fa-icon>
                            </ng-container>
                            <ng-container *ngIf="editarDetalle && i === detalleEditIndex">
                                <fa-icon [icon]="faCheck" class="btn btn-success" [size]="'lg'"
                                    style="margin-right: 5px;" data-placement="bottom"
                                    (click)="aplicarCambiosDetalle(i)" title="Aplicar"></fa-icon>
                            </ng-container>
                            <fa-icon [icon]="faTrashAlt" class="btn btn-danger" [size]=" 'lg' " data-placement="bottom"
                                (click)=" eliminarDetalle(detalleMovimientos)"
                                title="Eliminar Modelo Producto"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 16px;">SUBTOTALES:</label>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL :</label>
                <input type="text" [value]="calcularSubtotal() | number:'1.2-2'" class="cool-input resultado-input"
                    readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL IVA 12% :</label>
                <input type="text" [value]="calcularTotalTarifa12() | number:'1.2-2'" class="cool-input resultado-input"
                    readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL IVA 0% :</label>
                <input type="text" [value]="calcularTotalTarifa0() | number:'1.2-2'" class="cool-input resultado-input"
                    readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <label for="total" class="label-input" style="font-size: 14px;">IVA 12% :</label>
                <input type="text" [value]="calcularIva12() | number:'1.2-2'" class="cool-input resultado-input"
                    readonly>
            </div>
            <br><br>
            <div class="icon-container">
                <fa-icon [icon]="faMoneyBillAlt" [size]="'3x'" style="color: #6aaf42" class="icono-input"></fa-icon>
                <label for="total" class="label-input">TOTAL:</label>
                <input type="text" [(ngModel)]="sumaTotal" class="cool-input resultado-input" readonly>
            </div>
            <br><br><br>

            <br><br><br>
            <div class="button-container">
                <button class="btn btn-primary" [disabled]="lstDetalleMovimientos.length == 0"
                    (click)="finalizarPedido()">
                    <span style="color: white"> Continuar </span>
                </button>
            </div>
        </div>
    </div>
</div>