<div style="max-width: 95%; margin: auto">
  <div class="card">
    <br />
    <div class="card-header d-flex justify-content-between">
      <div class="row mx-3">
        <fa-icon [icon]="faFileInvoice" [size]="'3x'" style="color: #636363"></fa-icon>
        <h1 class="mx-5" style="color: #636363">FACTURA</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="invoice-header">
        <h1>Factura Electrónica</h1>
        <div class="company-info">
          <div class="company-details">
            <h3>{{ nombreSoc }}</h3>
            <p>RUC: {{ idFiscalSoc }}</p>
            <p>Dirección: {{direccionAlm}}</p>
            <p>Teléfono: {{telefonoAlm}}</p>
          </div>
        </div>
        <div class="invoice-info">
          <div class="info-item">
            <h4>Número de factura: {{ numFactura }}</h4>
          </div>
          <div class="info-item">
            <h4>Fecha de emisión: {{ fechaEmision | slice:0:10 }}</h4>
          </div>
          <div class="info-item">
            <h4>Cédula/RUC: {{ idFiscalCliente }}</h4>
          </div>
          <div class="info-item">
            <h4>Cliente: {{ cliente }}</h4>
          </div>
          <div class="info-item">
            <h4>Telefono: {{ telefono }}</h4>
          </div>
          <div class="info-item">
            <h4>Email: {{ email }}</h4>
          </div>
        </div>
      </div>
      <div class="invoice-details">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead style="color: #636363;">
            <tr>
              <th style="width: 10%; ">Producto</th>
              <th style="width: 10%; ">Cantidad</th>
              <th style="width: 10%; ">Precio Uni.</th>
              <th style="width: 10%; ">Precio</th>
              <th style="width: 10%; ">Descuento</th>
              <th style="width: 10%; ">Tamaño</th>
              <th style="width: 10%; ">Uni. Medida</th>
              <th style="width: 10%; ">Color</th>
            </tr>
          </thead>
          <tbody style="color: #767695;">
            <tr *ngFor="let detalleMovimientos of lstDetalleMovimientos">
              <td>{{detalleMovimientos.producto_nombre}}</td>
              <td>{{detalleMovimientos.cantidad}}</td>
              <td>{{detalleMovimientos.costo}}</td>
              <td>{{detalleMovimientos.precio}}</td>
              <td>{{detalleMovimientos.desc_add}}</td>
              <td>{{detalleMovimientos.tamanio}}</td>
              <td>{{detalleMovimientos.unidad_medida}}</td>
              <td>{{detalleMovimientos.color}}</td>
            </tr>
          </tbody>
        </table>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input">SUBTOTALES:</label>
        </div>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input" style="font-size: 16px;">SUBTOTAL :</label>
          <input type="text" [value]="calcularSubtotal() | number:'1.2-2'" class="cool-input resultado-input" readonly>
        </div>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL IVA 12% :</label>
          <input type="text" [value]="calcularTotalTarifa12() | number:'1.2-2'" class="cool-input resultado-input"
            readonly>
        </div>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input" style="font-size: 14px;">SUBTOTAL IVA 0% :</label>
          <input type="text" [value]="calcularTotalTarifa0() | number:'1.2-2'" class="cool-input resultado-input"
            readonly>
        </div>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input" style="font-size: 14px;">DESCUENTO DE PRODUCTOS :</label>
          <input type="text" [value]="calcularDescuento() | number:'1.2-2'" class="cool-input resultado-input" readonly>
        </div>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input" style="font-size: 14px;">DESCUENTO NOMINAL :</label>
          <input type="text" [(ngModel)]="descuentoN" class="cool-input resultado-input custom-input" [disabled]="deshabilitarIn" (input)="onInput2($event)">
        </div>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input" style="font-size: 14px;">DESCUENTO % :</label>
          <input type="text" [(ngModel)]="descuentoP" class="cool-input resultado-input custom-input" [disabled]="deshabilitarIn" (input)="validarDescuento()" (input)="onInput2($event)">
        </div>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input" style="font-size: 14px;">IVA 12% :</label>
          <input type="text" [value]="calcularIva12() | number:'1.2-2'" class="cool-input resultado-input" readonly>
        </div>
        <br><br>
        <div class="icon-container">
          <label for="total" class="label-input">TOTAL:</label>
          <input type="text" [(ngModel)]="sumaTotal" class="cool-input resultado-input" readonly>
        </div>
        <br>
      </div>
    </div>
    <div class="d-flex">
      <select class="form-control small-select" (change)="changePago($event)"
        style="margin-right: 5px; margin-left: 20px;">
        <option value="0" selected>Seleccionar método de pago</option>
        <option *ngFor="let formasPago of lstFormasPago" [value]="formasPago.nombre">
          {{formasPago.nombre}}
        </option>
      </select>
      <input type="text" class="cool-input2" placeholder="Monto" style="margin-right: 0px;" id="monto"
        (input)="onInput($event)">
      <button class="btn boton btn-success" [disabled]="!isBotonHabilitado" style="margin-right: 10px;"
        (click)="abonar()">
        <span style="color: white">ABONAR</span>
      </button>
      <label for="restante" style="margin-left: 100px;" class="cool-label">RESTANTE: </label>
      <input type="text" class="cool-input3" placeholder="Resto" readonly [(ngModel)]="resto"
        [ngStyle]="{'background-color': inputColor}" style="margin-right: 200px;" id="resto">
    </div>
    <br>
    <div class="button-container">
      <button class="btn btn-primary" [disabled]="!esRestoCero" (click)="finalizarPedido()">
        <span style="color: white; font-size: 20px;"> FINALIZAR VENTA </span>
      </button>
    </div>
  </div>
</div>