<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faClipboardList" [size]="'3x'" style="color: #636363;"></fa-icon>
                <h1 class="mx-5 " style="color: #636363;">Lineas</h1>
                <div style="position: absolute;right:0;" class="mx-3">
                    <fa-icon [icon]="faPlus" class="btn btn-success" [size]="'lg'" data-toggle="tooltip" data-placement="bottom" title="Agregar una nueva linea" (click)="agregarLineas()"></fa-icon>
                </div>
            </div>
        </div>
        <div class="card-body ">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead style="color: #636363;">
                    <tr>
                        <th style="width: 20%; ">Categoria</th>
                        <th style="width: 20%; ">Línea</th>
                        <th style="width: 20%; ">Etiquetas</th>
                        <th style="width: 20%; ">Código SAP</th>
                        <th style="width: 20%; "></th>
                    </tr>
                </thead>
                <tbody style="color: #767695;">
                    <tr *ngFor="let linea of lstLineas">
                        <td>{{linea.categoria_nombre}}</td>
                        <td>{{linea.linea}}</td>
                        <td>{{linea.etiquetas}}</td>
                        <td>{{linea.cod_sap}}</td>
                        <td style="text-align: center;">
                            <fa-icon [icon]="faEdit" class="btn btn-info" [size]="'sm'" style="margin-right: 5px;" data-placement="bottom" title="Editar Línea" (click)="editarLineas(linea)"></fa-icon>
                            <fa-icon [icon]="faTrashAlt" class="btn btn-danger" [size]="'lg'" data-placement="bottom" title="Eliminar Línea" (click)="eliminarLineas(linea)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>