<div style="width: 90%;margin: auto;">
    <div class="card">
        <br>
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faUserFriends" [size]="'3x'" style="color: #636363;"></fa-icon>
                <h1 class="mx-5 " style="color: #636363;">Inventarios</h1>
                <div style="position: absolute;right:0;" class="mx-3">
                </div>
            </div>
        </div>
        <div class="card-body ">
            <div>
                <mat-grid-list cols="7" rowHeight="60px" rowWidth="150px">
                    <mat-grid-tile>
                        <a class="btn button" href="./navegation-cl/(contentClient:inventarios-pedido)"
                            style="text-align:center;
                                    font-size: 15px; width:140px; 
                                       height:60px;
                                       background: rgb(54,169,225,0.8); 
                                       text-align:center; 
                                       margin-top: 10px;">
                                 <span style="color:white;">
                                    Inicio
                                 </span>     
                            </a>
                        </mat-grid-tile>

                        <mat-grid-tile >
                            <a class="btn button" (click)="returncategoria()"
                            style="text-align:center;
                                    font-size: 15px; width:140px; 
                                    background: rgb(54,169,225,0.8); 
                                    height:60px;
                                    text-align:center; 
                                    margin-top: 10px;"> 
                                <span style="color: white;">
                                    {{categoria_name}}
                                </span>    
                            </a>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <a class="btn button" (click)="returnLinea()"
                            style="text-align:center;
                                    font-size: 15px; width:140px; 
                                    height:60px;
                                    background: rgb(54,169,225,0.8); 
                                    text-align:center; 
                                    margin-top: 10px;"> 
                                <span style="color: white;">
                                    {{linea_name}}
                                </span>    
                            </a>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <a class="btn button" (click)="returnModelo()"
                            style="text-align:center;
                                    font-size: 15px; width:140px; 
                                    height:60px;
                                    text-align:center; 
                                    background: rgb(54,169,225,0.8);
                                    margin-top: 10px;"> 
                                <span style="color: white;">
                                    {{modelo_name}}
                                </span>    
                            </a>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <a class="btn button"
                            style="text-align:center;
                                    font-size: 15px; width:140px; 
                                    height:60px;
                                    background: rgb(54,169,225,0.8);
                                    text-align:center; 
                                    margin-top: 10px;"
                        > {{color_name}}
                        </a>
                        </mat-grid-tile>
                </mat-grid-list>

            </div>
            <br>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead style="color: #636363;">
                    <tr>
                        <th style="width: 55%; ">PRODUCTO</th>
                        <th style="width: 15%; ">CANTIDAD OPTIMO</th>
                        <th style="width: 15%; ">STOCK</th>
                    </tr>
                </thead>
                <tbody style="color: #767695;">
                    <tr *ngFor="let inventario of lstInventarios">
                        <td>{{inventario.Producto}}</td>
                        <td>{{inventario.stock_optimo}}</td>
                        <td>{{inventario.stock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
