<div style="max-width: 95%; margin: 20px; font-size: 12px;">
  <div id="htmlData">
    <div class="factura">
      <div class="info-comercial">
        <div class="comercial">
          <br><br>
       
          <div class="encabezado" *ngIf="url_logo == ''">
              NO TIENE LOGO
          </div>
          <img src="{{url_logo}}"  *ngIf="url_logo != ''" alt="Logo"   style="width: 35%; height: auto">

          <br><br>
          <div>Razón Social:{{razonSocial}}</div>
          <div>Nombre Comercial: {{nombreComercial}}</div>
          <div>Dirección Matriz: {{dir1}}</div>
          <div>Dirección Sucursal: {{direccionAlm}}</div>
          <div>Obligado a llevar Contabilidad: {{obligadoContabilidad}}</div>
          <div>Emite Retención: {{emiteRetencion}}</div>
        </div>
      </div>
      <div class="info-comercial">
        <div class="comercial">
          <div class="encabezado2">RUC: {{idFiscalSoc}}</div>
          <div>FACTURA</div>
          <div>Nro. {{facturaNro}}</div>
          <div>Número de Autorización: {{claveAcceso}}</div>
          <div>Fecha y Hora de Autorización: {{fechaAut}}</div>
          <div>Ambiente: {{ambiente}}</div>
          <div>Emisión: Normal</div>
          <div>Clave de Acceso: {{claveAcceso}}</div>
        </div>
      </div>
    </div>
    <div class="info-cliente">
      <div class="cliente">
        <div>Razón Social / Nombre y Apellido: {{cliente}}</div>
        <div>Identificación: {{idFiscalCliente}}</div>
        <div>Fecha: {{fechaEmision | date: 'dd/MM/yyyy'}}</div>
        <div>Dirección: {{direccionCl}}</div>
      </div>
    </div>
    <div class="invoice-details">
      <table class="custom-table">
        <thead>
          <tr>
            <th style="width: 10%; ">Código</th>
            <th style="width: 10%; ">Producto</th>
            <th style="width: 10%; ">Cantidad</th>
            <th style="width: 10%; ">Precio Uni.</th>
            <th style="width: 10%; ">Descuento</th>
            <th style="width: 10%; ">Precio Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalleMovimientos of lstDetalleMovimientos">
            <td>{{detalleMovimientos.producto_id}}</td>
            <td>{{detalleMovimientos.producto_nombre}}</td>
            <td>{{detalleMovimientos.cantidad}}</td>
            <td>{{detalleMovimientos.costo}}</td>
            <td>{{detalleMovimientos.desc_add}}</td>
            <td>{{detalleMovimientos.precio}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="labelAdic">
      <label for="" >INFORMACIÓN ADICIONAL:</label>
      <br>
      <label for="" class="separ">Teléfono: {{telefono}}</label>
      <label for="" class="">Correo: {{email}}</label>
    </div>
    <div class="invoice-details2">
      <div class="table-container">
          <table class="custom-table3">
            <thead>
              <tr>
                <th style="width: 10%; ">FORMA DE PAGO</th>
                <th style="width: 10%; ">VALOR</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detallePago of lstDetallePagos">
                <td>{{detallePago.nombre}}</td>
                <td>{{detallePago.valor}}</td>
              </tr>
            </tbody>
          </table>
        <table class="custom-table2">
          <tbody>
            <tr>
              <td class="aaa">SUBTOTAL 0%:</td>
              <td>{{subtotal0}}</td>
            </tr>
            <tr>
              <td class="aaa">SUBTOTAL {{iva}}%:</td>
              <td>{{subtotal12}}</td>
            </tr>
            <tr>
              <td class="aaa">SUBTOTAL NO SUJETO DE IVA:</td>
              <td>{{subtotal0}}</td>
            </tr>
            <tr>
              <td class="aaa">SUBTOTAL SIN IMPUESTOS:</td>
              <td>{{subtotal12}}</td>
            </tr>
            <tr>
              <td class="aaa">DESCUENTO:</td>
              <td>{{descuento}}</td>
            </tr>
            <tr>
              <td class="aaa">ICE:</td>
              <td>{{ice}}</td>
            </tr>
            <tr>
              <td class="aaa">IVA {{iva}}%:</td>
              <td>{{ivaCalculado}}</td>
            </tr>
            <tr>
              <td class="aaa">PROPINA:</td>
              <td>{{propina}}</td>
            </tr>
            <tr>
              <td class="aaa">VALOR TOTAL:</td>
              <td>{{valorTotal}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br><br>
  <div class="botones">
    <button class="btn btn-primary" style="margin-right: 70px;" (click)="generarPDF()" [disabled]="pdfGenerado">
      <span style="color: white; font-size: 20px;">Generar PDF</span>
    </button>
    <button class="btn btn-primary" (click)="enviarComprobante()" [disabled]="!pdfGenerado">
      <span style="color: white; font-size: 20px;">Enviar Comprobante por Correo</span>
    </button>
  </div>
  <br><br>
</div>